@inherits UmbracoViewPage<ContentListModel>
@using Our.Umbraco.ContentList.Web

@{
    var queryParameterKey = Model.Query.CustomParameters["queryParameter"];
}
@if (queryParameterKey != null)
{ 
<div>
    <form class="form" role="form">
        <div class="form-group">
            <input type="text" class="form-control" name="@queryParameterKey" value="@Request.QueryString[queryParameterKey]" placeholder="Søk" /> <button class="btn"><i class="glyphicon glyphicon-search"></i></button>
        </div>

    </form>
</div>
}

<div class="contentlist">
    @if (!Model.Items.Any())
    {
        if (UmbracoContext.IsFrontEndUmbracoRequest || Model.Query.CustomParameters["showIfNoPhrase"] != "1")
        {
            <p>Search for something...</p>
        }
        else if (Model.Query.CustomParameters["showIfNoPhrase"] == "1")
        {
            <div class="container-fluid new-contentlist">
                <a class="color-orange">
                    <i class="icon icon-settings large"></i><br />
                    Query returned no results. Try configuring it some more?
                </a>
            </div>
        }
    }

    @foreach (var item in Model.Items)
    {
        <div class="@Model.ColumnStyling.ColumnClasses(" col-sm-", "col-md-" , "col-lg-" ) list-item @item.ContentTypeName ">
            <h2><a href="@item.Url">@item.ListHeading</a></h2>
            <div>@item.ListSummary</div>
            <div><a href="@item.Url">@item.Url</a></div>
        </div>
    }
    <div class="col-md-12">
        <nav>
            @Html.ContentListPager(Model, pagerClasses: "pagination", pagerElement: "ul", itemElement: "li")
        </nav>
    </div>
</div>