@using Our.Umbraco.ContentList.Web;
@inherits UmbracoViewPage<ContentListModel>

@{
    var list = Model.Items.ToList();
    var i = 0;
}

    <div class="contentlist">
        <div class="alert alert-info">This is an example of a list view. List views should be created as ~/Views/Partials/ContentList/[ThemeName]/List.cshtml</div>

        @if (list.Count == 0 && UmbracoContext.IsFrontEndUmbracoRequest)
        {
            <p>No items found...</p>
        }
        @if (list.Count == 0 && !UmbracoContext.IsFrontEndUmbracoRequest)
        {
            <div class="container-fluid new-contentlist">
                <a class="color-orange">
                    <i class="icon icon-settings large"></i><br />
                    Query returned no results. Try configuring it some more?
                </a>
            </div>
        }

        @for (i = 0; i < list.Count; i++)
        {
            var listable = list[i];

            <div class="@Model.ColumnStyling.ColumnClasses("col-sm-", "col-md-", "col-lg-") list-item @listable.DocumentTypeAlias ">

                @if (!listable.ListImageUrl.IsNullOrWhiteSpace())
                {
                    <a href="@listable.Url"><img class="list-image widescreen" src="@listable.ListImageUrl" /></a>
                }

                <h3>
                    <a href="@listable.Url">@listable.ListHeading</a>
                </h3>
                <div class="list-summary">
                    @listable.ListSummary
                </div>
                <div>
                    <a href="@listable.Url" class="readmore">@listable.ReadMoreText</a>
                </div>
                @if (i == 0) 
                { 
                <div class="alert alert-info" style="margin: 5px !important;">
                    This is an example of a list item view. List item views should be created as ~/Views/Partials/ContentList/[ThemeName]/ListItem.cshtml.
                    You can create list item views for specific document types as ~/Views/Partials/ContentList/[ThemeName]/[DocumentTypeAlias].cshtml.
                    To use them from the list view, you can call @@Html.ContentListItem(itemFromModelItems).
                </div>
                }
            </div>


        }
        <div class="col-md-12">
            @Html.ContentListPager()
        </div>
    </div>
